body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  text-align: center;
}

header {
  background-color: #fff;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.subtitulo {
  background: #cbe9f1;
  padding: 10px;
  display: inline-block;
  font-weight: bold;
}

.texto {
  max-width: 800px;
  margin: 10px auto;
  padding: 0 15px;
  text-align: justify;
  color: #555;
}

.texto.especial {
  color: red;
  font-weight: bold;
}

.contenedor {
  width: 320px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.contenedor img {
  width: 100%;
  border-radius: 10px;
}

.descripcion {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  flex-wrap: wrap; /* para que en celular se bajen en columnas */
}

.galeria img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
}
